---
import Headline from '../ui/Headline.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { StandardImageAsset } from '../../types';
import SanityImage from '../common/SanityImage.astro';

export interface Props {
  title?: string;
  subtitle?: string;
  tagline?: string;
  images?: {
    img: StandardImageAsset;
    url: string;
    alt?: string;
  }[];
  id: string;
  isDark?: boolean;
  classes: Record<string, unknown>;
  bg?: string;
}
const {
  title = '',
  subtitle = '',
  tagline = '',
  images = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
    {
      images &&
        images.map(
          (image) =>
            image.img && (
              <div class="col-span-1 my-2 flex justify-center rounded-md px-3 py-1 lg:my-4 dark:bg-gray-200">
                <a href={image.url} target="_blank" rel="noopener noreferrer">
                  <SanityImage
                    image={image.img}
                    alt={image.alt || ''}
                    className="max-h-fit"
                    width={280}
                    height={90}
                    style={{ width: '280px' }}
                  />
                </a>
              </div>
            )
        )
    }
  </div>
</WidgetWrapper>
