---
import { Image } from 'astro:assets';
import Hero from '../components/widgets/Hero.astro';
import { DateTime } from 'luxon';
import Layout from '../layouts/PageLayout.astro';
import WidgetWrapper from '../components/ui/WidgetWrapper.astro';
import Ternary from '../components/Ternary.astro';
import { findLocalImage } from '../utils/images';

const hero = await findLocalImage('~/assets/images/registration-hero.jpg');

const metadata = {
  title: 'Auditions | TCHA',
};
const openAuditions = [] as Record<string, any>[];
---

<Layout metadata={metadata}>
  <WidgetWrapper isDark>
    <Fragment slot="bg">
      <div class="absolute inset-0">
        <Image src={hero} alt="Director instruction" class="h-full w-full object-cover object-[50%_15%]" />
      </div>
    </Fragment>
    <Hero backdropOverlay="md" title="Audition for a TCHA Show" />
  </WidgetWrapper>
  <WidgetWrapper containerClass="max-w-7xl mx-auto lg:py-8 md:py-8 py-8">
    <>
      <Ternary condition={openAuditions.length > 0}>
        <Fragment slot="false">
          <div
            class="mb-4 rounded-lg bg-blue-50 p-4 text-center text-sm text-blue-800 dark:bg-gray-800 dark:text-blue-400"
            role="alert"
          >
            <p class="font-medium">We do not currently have any auditions open for our upcoming shows.</p>
            <p class="font-medium">
              Please check out our current and past seasons of shows using the top menu and check back later for
              opportunities to audition!
            </p>
          </div>
        </Fragment>
        <Fragment slot="true">
          <h3 class="mb-3 text-left text-xl font-bold">Registration Policies</h3>
          <ul class="mb-3 w-full list-disc text-left">
            <li>There is a 20% non-refundable deposit required at the time of registration.</li>
            <li>
              Choir registration deadline is two weeks before the start of classes to allow the directors to choose and
              order enough copies of music. For those who register after this deadline, there will be a $20 late fee.
            </li>
            <li>
              If a class is dropped before the second week of classes, a full refund, minus the 20% non-refundable
              deposit, will be given.
            </li>
            <li>If a class is dropped after the second week of class, no refund will be given.</li>
          </ul>
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="mx-0 w-full table-auto text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right">
              <thead class="bg-gray-100 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-4 py-3"> Title </th>
                  <th scope="col" class="px-4 py-3 text-center"> Ages/Grades </th>
                  <th scope="col" class="px-4 py-3 text-center"> Time </th>
                  <th scope="col" class="px-4 py-3 text-center"> When </th>
                  <th scope="col" class="px-4 py-3 text-center"> Actions </th>
                </tr>
              </thead>
              <tbody>
                {
                  openAuditions.map((c) => (
                    <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
                      <th scope="row" class="px-4 py-3 font-medium text-gray-900 dark:text-white">
                        {c.title}
                        <br />
                        <span class="ml-4 text-gray-500">{c.class_type}</span>
                      </th>
                      <td class="px-4 py-3 text-center">
                        {c.grades.min} - {c.grades.max}
                      </td>
                      <td class="px-4 py-3 text-center">
                        {c.classTimes?.start}-{c.classTimes?.end}
                      </td>
                      <td class="px-4 py-3 text-center">
                        {c.dates.toString()} ({c.semester})
                      </td>
                      <td class="px-4 py-4 text-center">
                        <span title={`Registration closes ${c.registration_close.toLocaleString(DateTime.DATE_MED)}`}>
                          <a
                            type="button"
                            class="mb-4 mt-4 inline-flex items-center gap-x-1 rounded-lg bg-secondary px-3 py-2 text-center text-xs font-medium text-primary hover:bg-darkMode hover:text-white focus:bg-darkMode focus:text-white focus:outline-none dark:hover:bg-primary"
                            href={c.registrationLink}
                            target="_blank"
                          >
                            Register
                          </a>
                        </span>
                        <a
                          type="button"
                          class="mb-4 ml-2 mt-4 inline-flex items-center gap-x-1 rounded-lg bg-accent px-3 py-2 text-center text-xs font-medium text-white hover:bg-darkMode focus:bg-darkMode focus:outline-none dark:hover:bg-primary"
                          href={c.moreInfoLink}
                        >
                          Learn More
                        </a>
                      </td>
                    </tr>
                  ))
                }
              </tbody>
            </table>
          </div>
        </Fragment>
      </Ternary>
<div>
  <h3 class="mb-3 text-left text-xl font-bold">Typical Audition Schedule</h3>
  <ul class="mb-3 w-full list-disc text-left">
    <li>Auditions for the Fall Musical (ages 13–18) are typically held in May.</li>
    <li>Auditions for our two winter plays — one for children (ages 8–13) and one for teens (ages 13–18) — are usually held in November or early December.</li>
    <li>Auditions for the Summer Musical (ages 8–18) are typically scheduled for late March or early April.</li>
  </ul>
</div>
    </>
  </WidgetWrapper>
</Layout>
