---
import SanityImage from '../components/common/SanityImage.astro';
import Layout from '../layouts/PageLayout.astro';
import { fetchByTeam } from '../queries/Leadership';

const metadata = {
  title: 'Leadership | TCHA',
};

const { board } = await fetchByTeam();
---

<Layout metadata={metadata}>
  <section class="bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-screen-xl px-4 py-8 text-center lg:px-6 lg:py-16">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
        <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">Board of Directors</h2>
        <p class="font-light text-gray-500 dark:text-gray-400 sm:text-xl">
          The board of directors oversees the overall direction and operations of the TCHA organization.
        </p>
      </div>
      <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-16">
        {
          board.map((member) => (
            <div class="text-center text-gray-500 dark:text-gray-400">
              <SanityImage
                className="mx-auto mb-4 w-48 rounded-xl"
                image={member.headshot}
                alt={member.name}
                mode="cover"
                height={300}
                width={192}
              />
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                <a href="#">{member.name}</a>
              </h3>
              <p>{member.role}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
