---
import { Image } from 'astro:assets';
import WidgetWrapper from '../components/ui/WidgetWrapper.astro';
import { Icon } from 'astro-icon/components';

import { fetchAll } from '../queries/PrivateInstructor';
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';
import { toHTML } from '@portabletext/to-html';
import { findLocalImage } from '../utils/images';
import SanityImage from '../components/common/SanityImage.astro';

const hero = await findLocalImage('~/assets/images/private-lessons-banner.webp');

const metadata = {
  title: 'Private Lessons | TCHA',
};

const instructors = await fetchAll();
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <WidgetWrapper isDark>
    <Fragment slot="bg">
      <div class="absolute inset-0">
        <Image src={hero} alt="Empty chair" class="h-full w-full object-cover" />
      </div>
    </Fragment>
    <Hero tagline="Classes" title="Private Lessons" backdropOverlay="sm">
      <Fragment slot="subtitle">
        TCHA has partnered with a number of private music instructors as resources for our community to develop skills
        in various instruments.
      </Fragment>
    </Hero>
  </WidgetWrapper>
  <section class="mx-auto my-8 max-w-4xl px-6 pb-12 sm:px-6 sm:pb-16 lg:pb-20">
    <h3 class="leading-tighter text-heading font-heading mb-12 text-xl font-bold tracking-tighter md:text-3xl">
      Instructors
    </h3>
    <ul>
      {
        instructors.map(({ private_lessons: lessons, ...instructor }) => (
          <li class="mb-12 md:mb-20">
            <article class="mx-auto max-w-md md:max-w-none">
              <div class="mb-4 flex flex-wrap gap-6">
                <div class="grow basis-full sm:basis-4/12">
                  <SanityImage image={instructor.headshot} alt={instructor.name} mode="cover" />
                </div>
                <div class="mt-2 grow basis-7/12">
                  <header>
                    <h4 class="font-heading mb-2 text-xl leading-tight font-bold sm:text-2xl dark:text-slate-300">
                      {instructor.name}
                    </h4>
                  </header>
                  <div class="mt-2 mb-1">
                    <span class="text-sm">
                      <Icon
                        title="Lessons Available In"
                        name="tabler:school"
                        class="-mt-0.5 inline-block h-3.5 w-3.5 dark:text-gray-400"
                      />
                      {lessons.instrument} {lessons.in_home && '(In-Home)'}
                    </span>
                  </div>
                  {lessons.email && (
                    <div class="mt-2 mb-1">
                      <span class="text-sm">
                        <Icon
                          title="Email"
                          name="tabler:send"
                          class="-mt-0.5 inline-block h-3.5 w-3.5 dark:text-gray-400"
                        />
                        <a href={'mailto:' + lessons.email}>{lessons.email}</a>
                      </span>
                    </div>
                  )}
                  {lessons.website && (
                    <div class="mt-2 mb-1">
                      <span class="text-sm">
                        <Icon
                          title="Website"
                          name="tabler:world"
                          class="-mt-0.5 inline-block h-3.5 w-3.5 dark:text-gray-400"
                        />
                        <a href={lessons.website}>{lessons.website}</a>
                      </span>
                    </div>
                  )}
                  {lessons.phone && (
                    <div class="mt-2 mb-1">
                      <span class="text-sm">
                        <Icon
                          title="Phone Number"
                          name="tabler:phone"
                          class="-mt-0.5 inline-block h-3.5 w-3.5 dark:text-gray-400"
                        />
                        <a href={'tel:' + lessons.phone}>{lessons.phone}</a>
                      </span>
                    </div>
                  )}
                  <p class="mt-3" set:html={toHTML(instructor.bio)} />
                </div>
              </div>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
