---
import { classesOpenForRegistration } from '~/queries/Registration';
import Layout from '../layouts/PageLayout.astro';

const metadata = {
  title: 'Class Registration | TCHA',
};
const openClasses = await classesOpenForRegistration();
---

<Layout metadata={metadata}>
  <section class="bg-gray-50 p-3 dark:bg-gray-900 sm:p-5">
    <div class="relative overflow-x-auto">
      <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right">
        <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Title</th>
            <th scope="col" class="px-6 py-3">Type</th>
            <th scope="col" class="px-6 py-3">Ages/Grades</th>
            <th scope="col" class="px-6 py-3">When</th>
            <th scope="col" class="px-6 py-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          {
            openClasses.map((c) => (
              <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
                  {c.title}
                </th>
                <td class="px-6 py-4">{c.class_type}</td>
                <td class="px-6 py-4">
                  {c.grades.min} - {c.grades.max}
                </td>
                <td class="px-6 py-4">
                  {c.classTimes.start}-{c.classTimes.end}, {c.dates.toString()}
                </td>
                <td>
                  <a
                    type="button"
                    class="mb-2 me-2 rounded-lg bg-green-700 px-5 py-2.5 text-xs font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                    href={c.registrationLink}
                    target="_blank"
                  >
                    Register
                  </a>
                  <a
                    type="button"
                    class="mt-4 inline-flex items-center gap-x-1 rounded-lg bg-blue-700 px-3 py-2 text-center text-xs font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    href={c.registrationLink}
                    target="_blank"
                  >
                    Learn More
                  </a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </section>
  <pre><code>{JSON.stringify(openClasses, undefined, '  ')}</code></pre>
  {
    /*
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-4xl">
    { registrationOpen && (<>
      <h3 class="font-bold leading-tighter tracking-tighter font-heading text-heading md:text-3xl mb-12">
        Class registration for {semester.name} is currently open!
      </h3>
      <div id="galore-embed-wrapper">
        <script type="text/javascript">
          (function (d, s, id) {
            if (d.getElementById(id)) {
              return;
            }
            var js = d.createElement(s);
            js.id = id;
            js.src = 'https://getgalore.com/embed.js';
            js.setAttribute('data-src', 'https://www.care.com/connect/tcha/embed?widget_id=88&logo=false&per_page=20');
            d.getElementById('galore-embed-wrapper').appendChild(js);
          })(document, 'script', 'load-galore-embed');
        </script>
      </div>
    </>)}
    { !registrationOpen && (
      <h3 class="font-bold leading-tighter tracking-tighter font-heading text-heading md:text-3xl mb-12">
      Class registration is not currently open. Check back soon for class availability for next semester!
      </h3>
    )}
  </section>
*/
  }
</Layout>
