---
import { Icon } from 'astro-icon/components';
import type { Show, TheatreSeason } from '../../queries/TheatreSeasons';
import type { Event } from '../../queries/Events';

import { DateTime } from 'luxon';
import { toHTML } from '@portabletext/to-html';
import SanityImage from '../common/SanityImage.astro';

export interface Props {
  season: TheatreSeason;
  show: Show;
  event: Event;
}

const { event, season, show } = Astro.props;

function getFormattedDate(d: DateTime): string {
  return d.toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY);
}

function getFormattedDateTime(d: DateTime): string {
  return d.toLocaleString(DateTime.DATETIME_MED_WITH_WEEKDAY);
}

const link = `/theatre/${season.slug}/${show.slug}/`;
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${show.hero ? 'md:grid-cols-2' : ''}`}>
  {
    (
      <a class="group relative block" href={link ?? 'javascript:void(0)'}>
        <div class="relative">
          {show.hero && (
            <SanityImage
              image={show.hero}
              alt={show.title}
              className="h-auto max-w-full bg-gray-400 dark:bg-slate-700 rounded shadow-lg"
            />
          )}
        </div>
      </a>
    )
  }
  <div class="mt-2">
    <header>
      <div class="mb-1">
        <h2 class="mb-2 font-heading text-xl font-bold leading-tight dark:text-slate-300 sm:text-2xl">
          {
            link ? (
              <a class="transition duration-200 ease-in hover:text-primary dark:hover:text-blue-700" href={link}>
                {show.title}
              </a>
            ) : (
              show.title
            )
          }
        </h2>
        <p class="text-sm">
          <Icon name="tabler:clock" class="-mt-0.5 inline-block h-3.5 w-3.5 dark:text-gray-400" />
          <time datetime={String(show.date_range.start)} class="inline-block"
            >{getFormattedDate(show.date_range.start)}</time
          >
          <span>-</span>
          <time datetime={String(show.date_range.end)} class="inline-block"
            >{getFormattedDate(show.date_range.end)}</time
          >
        </p>
        <p class="my-2" set:html={toHTML(show.description)} />
        {
          show.participation_is_open && show.participation && (
            <>
              <h3 class="text-m my-2 font-bold dark:text-slate-300 sm:text-xl">Auditions</h3>
              <p class="my-2" set:html={toHTML(show.participation.details)} />
              {show.participation.registration_link && (
                <a class="btn-secondary my-2 px-4 py-2" target="_blank" href={show.participation.registration_link}>
                  Audition Information
                </a>
              )}
            </>
          )
        }
        {
          event?.dates?.length > 0 && (
            <>
              <h3 class="text-m my-2 font-bold dark:text-slate-300 sm:text-xl">Performances</h3>
              <p class="my-2">
                <ul>
                  {event.dates.map((d) => (
                    <li>
                      <time datetime={String(d)}>{getFormattedDateTime(d)}</time>
                    </li>
                  ))}
                </ul>
              </p>
            </>
          )
        }
        {
          event?.ticket_link && (
            <a class="btn-secondary my-2 px-4 py-2" href={event.ticket_link}>
              Get Tickets
            </a>
          )
        }
        {
          show.gallery.images && (
            <a class="btn-secondary my-2 px-4 py-2" href={link + '#synopsis'}>
              See Photos
            </a>
          )
        }
      </div>
    </header>
  </div>
</article>
