---
import { toHTML } from '@portabletext/to-html';
import SanityPicture from 'astro-sanity-picture';
import { DateTime } from 'luxon';

import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { fetchSlugs, fetchShowInfo, fetchOne } from '~/queries/TheatreSeasons';
export async function getStaticPaths() {
  const seasons = await fetchSlugs();
  const paths = seasons.flatMap((season) => season.shows.map((show) => ({ params: { season: season.slug, show } })));
  return paths;
}
export interface Props {
  season: string;
  show: string;
}
const { season, show } = Astro.params;
const showInfo = await fetchShowInfo({ slug: show });
const seasonInfo = await fetchOne({ season });
const metadata = {
  title: `${showInfo.title} | ${seasonInfo.title} | TCHA`,
};
function formatDate(date: DateTime): string {
  return date.toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY);
}
---

<Layout metadata={metadata}>
  {/* Hero Widget */}
  <Hero tagline={'Theatre Season: ' + seasonInfo.title}>
    <Fragment slot="image">
      <SanityPicture src={showInfo.hero} class="object-cover w-full h-full" sizes="(max-width: 600px) 100vw" />
    </Fragment>
    <Fragment slot="title">{showInfo.title}</Fragment>

    <Fragment slot="subtitle">
      {formatDate(showInfo.date_range.start)} - {formatDate(showInfo.date_range.end)}
    </Fragment>
  </Hero>
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-4xl">
    <div class="flex flex-col gap-2 mt-2" set:html={toHTML(showInfo.description)} />

    {
      showInfo.gallery?.images?.length > 1 && (
        <div id="gallery" class="relative w-full" data-carousel="slide">
          <div class="relative h-56 overflow-hidden rounded-lg md:h-screen">
            {showInfo.gallery.images.map((image) => (
              <div class="duration-700 ease-in-out" data-carousel-item>
                <SanityPicture src={image} sizes="(max-width: 600px) 100vw" />
              </div>
            ))}
          </div>
          {/* Slider controls */}
          <button
            type="button"
            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev
          >
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg
                class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"
                />
              </svg>
              <span class="sr-only">Previous</span>
            </span>
          </button>
          <button
            type="button"
            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next
          >
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg
                class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
              <span class="sr-only">Next</span>
            </span>
          </button>
        </div>
      )
    }
  </section>
</Layout>
