---
import { toHTML } from '@portabletext/to-html';
import imageUrlBuilder from '@sanity/image-url';
import { Avatar, Button } from 'flowbite-react';
import listify from 'listify';
import { DateTime } from 'luxon';
import { sanityClient } from 'sanity:client';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';

import Image from '~/components/common/Image.astro';

import type { Class } from '@schema/Class';
import { Icon } from 'astro-icon/components';

export interface Props {
  classItem: Class;
}

const builder = imageUrlBuilder(sanityClient);

const urlFor = (source: SanityImageSource) => {
  return builder.image(source);
};

const { classItem } = Astro.props;
const classStart = classItem.dates && DateTime.fromISO(classItem.dates.start);
const classEnd = classItem.dates && DateTime.fromISO(classItem.dates.end);
---

<article class="max-w-md mx-auto md:max-w-none">
  <div class="flex flex-wrap gap-6 mb-4">
    {
      classItem.preview_image && (
        <div class="basis-4/12 grow">
          <Image
            src={urlFor(classItem.preview_image).width(900).url()}
            class="object-cover w-full h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
            widths={[400, 600]}
            width={600}
            sizes="(max-width: 900px) 400px, 600px"
            alt={classItem.preview_image.alt ? classItem.preview_image.alt : ''}
            aspectRatio="16:9"
            loading="lazy"
            decoding="async"
          />
        </div>
      )
    }
    <div class="mt-2 basis-7/12 grow">
      <header>
        <h3 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
          {classItem.title}
        </h3>
        <span>
          {
            classItem.instructors != null &&
              classItem.instructors.map((instructor) => (
                <div class="flex items-center gap-4">
                  <Avatar img={urlFor(instructor.headshot).size(150, 150).url()} size="lg" rounded>
                    <div>{instructor.name}</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">{listify(instructor.class_types)}</div>
                    <Button
                      size="xs"
                      color="light"
                      pill
                      id={'bio-for-' + classItem._id}
                      data-drawer-target={'instructor-' + instructor._id}
                      data-drawer-show={'instructor-' + instructor._id}
                      data-drawer-placement="right"
                      aria-controls={'instructor-' + instructor._id}
                    >
                      Read Bio
                    </Button>
                  </Avatar>
                </div>
              ))
          }
        </span>
        <div class="mt-2 mb-1">
          <span class="text-sm">
            <Icon title="Class Times" name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
            <time datetime=`${classItem.classTimes.start}/${classItem.classTimes.end}` class="inline-block"
              >{classItem.classTimes.start} - {classItem.classTimes.end}</time
            >
          </span>
        </div>
        {
          classItem.dates && (
            <div class="mt-2 mb-1">
              <span class="text-sm">
                <Icon
                  title="Schedule"
                  name="tabler:calendar"
                  class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400"
                />
                Weekly on {classItem.dates.day_of_week}s, {classStart?.toLocaleString(DateTime.DATE_MED)} -
                {classEnd?.toLocaleString(DateTime.DATE_MED)}
              </span>
            </div>
          )
        }
        <div class="mt-2 mb-1">
          <span class="text-sm">
            <Icon title="Age Range" name="tabler:school" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
            {classItem.ages.min} - {classItem.ages.max}
          </span>
        </div>
        <div class="mt-2 mb-1">
          <span class="text-sm">
            <Icon
              title="Tuition Fee"
              name="tabler:currency-dollar"
              class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400"
            />
            {classItem.price}
          </span>
        </div>
      </header>
    </div>
  </div>
  {classItem.description && <p class="flex-grow text-muted dark:text-slate-400 text-lg">{classItem.description}</p>}
</article>
