---
import { DateTime } from 'luxon';

import type { Semester } from '~/queries/SemesterWithClasses';

export interface Props {
  semester: Semester;
}
const { semester } = Astro.props;

const now = DateTime.now();

const registrationOpenFuture = semester.registration_open > now;
const registrationOpen = semester.registration_open < now && semester.dates.start > now;
const registrationPast = semester.dates.start < now;
---

<h2 class="leading-tighter text-heading mb-12 font-heading text-3xl font-bold tracking-tighter md:text-4xl">
  {semester.name} Semester
</h2>

{
  registrationOpen && (
    <div
      class="mb-4 rounded-lg bg-green-50 p-4 text-sm text-green-800 dark:bg-gray-800 dark:text-green-400"
      role="alert"
    >
      <span class="font-medium">
        Registration is open!
        {semester.early_registration_end > now &&
          ` (Early registration discounts are available until ${semester.early_registration_end.toLocaleString(DateTime.DATE_MED)})`}
      </span>
      .
    </div>
  )
}
{
  registrationOpenFuture && (
    <div class="mb-4 rounded-lg bg-blue-50 p-4 text-sm text-blue-800 dark:bg-gray-800 dark:text-blue-400" role="alert">
      <span class="font-medium">
        Registration will open on {semester.registration_open.toLocaleString(DateTime.DATE_FULL)}
      </span>
    </div>
  )
}
{
  registrationPast && (
    <div class="mb-4 rounded-lg bg-blue-50 p-4 text-sm text-blue-800 dark:bg-gray-800 dark:text-blue-400" role="alert">
      <span class="font-medium">
        Registration is no longer open. Please check back later for any upcoming semesters.
      </span>
    </div>
  )
}

<p class="text-l mb-6">
  Classes for this semester (unless otherwise noted) are held at <a
    class="text-blue-600 underline hover:no-underline dark:text-blue-500"
    target="_blank"
    href="https://maps.google.com/?q=12600 Johnny Cake Ridge Rd, Apple Valley, MN 55124">South Suburban Church</a
  > in Apple Valley on {semester.dates.day_of_week}s from {semester.dates.start.toLocaleString(DateTime.DATE_MED)} to {
    semester.dates.end.toLocaleString(DateTime.DATE_MED)
  }{
    semester.dates.breaks.length > 0 &&
      ` with the exception of the following dates: ${semester.dates.breaks.map((d) => d.toLocaleString(DateTime.DATE_MED)).join('; ')}`
  }.
</p>
